ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 li {
   float: right;
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   font-size: 18px;
   text-decoration: none;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: bold;
 }
#encabezado{
  background-image: url('http://almavis.com.ar/alma_control/files/clientes/imagenes/56_Parque_del_Sol-142.jpg');
}
#encabezado h1{
  color: white;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
}
#encabezado p{
  color: white;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
}
h1, p{
  color: black;
  word-break: normal;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
}
.btns{
  background-color: yellow;
  border-color: yellow;
  border-radius: 90px;
  color: black;
  padding: 10px;
}
#texto{
  background-color: yellow;
  text-align: center;
  color: black;
}
#texto h5{
  font-family: 'Fanwood Text', serif;
}
#texto h3{
  font-family: 'Allerta', sans-serif;
}
table tr, th, td{
  padding: 30px;
  text-align: left;
  font-family: 'Fanwood Text', serif;
}
#tabla h3{
  padding: 10px;
  font-family: 'Allerta', sans-serif;
  text-align: center;
}
#tabla td{
  font-size: 20px;
}
#text2{
  text-align: center;
  background-image: url('fondox.png');
}
#text2 p:first-child{
  font-size: 26px;
  color: white;
}
#text2 p{
  color: white;
  font-size: 17px;
}
#texto3{
  background-color: yellow;
  text-align: center;
  font-family: 'Allerta', sans-serif;
}
#mapa{
  width: 100%;
}
