.container{
  background-image: url('http://blog.oxforddictionaries.com/wp-content/uploads/mountain-names.jpg');
  text-align: center;
  color: white;
  font-family: 'Lobster', cursive;
}
.container p{
  font-family: 'Questrial', sans-serif;
}
.container h5{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
}
#texto{
  text-align: right;
}
form{
  text-align: left;
  color: white;
  width: 400px;
  padding: 40px;
}
.cuadros{
  border: 1px solid white;
}
input{
  text-align: center;
  border-radius: 50px;
}
.formin{
  border-radius: 0px;
  background-color: transparent;
  color: white;
}
.formin::placeholder{
  color: white;
  text-align: left;
}
.logo{
  width: 28px;
  height: 28px;
}
