ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
  background-color: black;
 }

 li {
   float: right;
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 10px 20px;
   font-size: 18px;
   text-decoration: none;
   font-family: 'Cinzel', serif;
   font-weight: bold;
   background-color: black;
 }
 li a:hover{
   color: #744e50;
 }
#encabezado{
  background-color: #dbd7d6;
  color: white;
  text-align: center;
  height: 373px;
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}
#encabezado h2{
  font-size: 50px;
  padding-top: 40px;
}
#encabezado h4{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.pintores h2{
  font-family: 'Srisakdi', cursive;
  font-weight: bold;
}
.pintores{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  float: left;
}
.pintores a{
  width: 100px;
  background-color: #dbd7d6;
  color: black;
}
