body{
    font-family: 'Open Sans', sans-serif;
}
#encabezado{
  background-image: url('banner.jpeg');
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  width: 1200px;
  height: 450px;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 li {
   float: right;
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 10px 20px;
   font-size: 18px;
   text-decoration: none;
   font-family: 'Nunito Sans', sans-serif;
 }
#encabezado h1{
   font-size: 100px;
 }
#encabezado h2{
  font-size: 50px;
}
#encabezado h4{
  font-size: 30px;
}
.boton{
  background-color: #FFD34E;
  border-color: #FFD34E;
  color: black;
  width: 200px;
  height: 50px;
  border-radius: 0px;
}
.textoc{
    padding: 40px 0px;
}
.texto-cuadro{
  text-align: center;
  border: 5px solid #FFD34E;
  padding: 40px 0px;
}
.texto-cuadro h3{
  font-size: 24px;
}
.contenido-txt{
  background-color: #eef0ef;
}
.text h3{
  font-family: 'Lato', sans-serif;
}
.text p{
  color: gray;
}
