<!DOCTYPE html>
 <html>
   <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Contador</title>
  </head>
<body>
 <div id="app">
   {{contador}}
   <button v-on:click="suma(1)">+1</button>
   <button v-on:click="suma(5)">+5</button>
 </div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script>
    new Vue({
      el: '#app',
      data: {
        contador: 0,
      },
      methods: {
        suma: function(numero){
          this.contador += numero
        }
      },
    })
   </script>
</body>
</html>
