<!DOCTYPE html>
 <html>
   <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Ejemplo</title>
     <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
     <style>
      .preview-facebook{
        padding: 70px;
        height: 300px;
        width: 200px;
        margin-top: 10px;
        border: 1px solid #d8d8d8;
        font-family: 'Quicksand', sans-serif;
      }
      .facebook__titulo{
        font-size: 20px;
        width: 100%;
      }
      .facebook__descripcion{
        font-size: 12px;
        width: 100%;
      }
      .facebook__link{
        color: #909090;
        font-size: 10px;
        width: 100%;
      }
      .preview-twitter{
        border-radius: 15px;
        padding: 80px;
        height: 310px;
        width: 200px;
        border: 2px solid #d8d8d8;
        margin-top: 5px;
        font-family: 'Comfortaa', cursive;
      }
      .twitter__titulo{
        font-size: 22px;
        width: 200px;
      }
      .twitter__descripcion{
        font-size: 12px;
        width: 200px;
      }
      .twitter__link{
        color: #909090;
        font-size: 8px;
        width: 200px;
      }
      img{
        width: 100%;
      }
     </style>
  </head>
<body>
 <div id="app-6">
   <p>{{message}}</p>
   <form>
     <input v-model="titulo">
     <input v-model="descripcion">
     <input v-model="link">
     <input v-model="imagen">
   </form>
  <div class="preview-facebook">
    <img :src="imagen">
    <h3 class="facebook__titulo" id="titulo">{{titulo}}</h3>
    <h3 class="facebook__descripcion" id="descripcion">{{descripcion}}</h3>
    <h3 class="facebook__link" id="link">{{link}}</h3>
  </div>
  <div class="preview-twitter">
    <img :src="imagen">
    <div class="twitter__titulo">  <h3 id="titulo">{{titulo}}</h3> </div>
    <div class="twitter__descripcion">   <h3 id="descripcion">{{descripcion}}</h3> </div>
    <div class="twitter__link"> <h3 id="link">{{link}}</h3> </div>
  </div>
 </div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script>
    new Vue({
      el: '#app-6',
      data: {
        titulo: '',
        descripcion: '',
        link: '',
        imagen: ''
      }
    })
   </script>
</body>
</html>
