<!DOCTYPE html>
 <html>
   <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Frases</title>
     <style>
        p{
          border-radius: 20px;
          background-color: #c4bfbd;
          padding: 50px;
          width: 100px;
          height: 100px;
          font-size: 20px;
          text-align: center;
          float: left;
          margin-left: 5px;
        }
     </style>
  </head>
<body>
  <div id="app">
    <!--<h1>{{nombre}}</h1>
    <input type="text" v-model="nombre"><br><br>-->
    <form @submit.prevent="enviarFormulario">

      Frase: <input type="text" v-model="frase" id="frase">

      Autor: <input type="text" v-model="autor" id="autor">

      <button type="submit">Listo</button>
    </form>
    <div v-for="(item, index) in frases" @click="borrarFrase(index)">
      <p>{{ item.frase }} - {{ item.autor }}</p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        frase: '',
        autor: '',
        frases: [
          {
            frase: 'Es necesario aprender',
            autor: 'Paulo',
          }
        ]

      },
      methods: {
        enviarFormulario: function(){
          var datos = {
            frase: this.frase,
            autor: this.autor
          }
          //this.frases.push(datos)
          //ordenados
          var arrayNuevo = this.frases
          arrayNuevo.push(datos)
          arrayNuevo.sort()
          this.frases = arrayNuevo
        },
        borrarFrase: function(index){
          this.frases.splice(index, 1)
        },
      },
    })
  </script>
</body>
</html>
