<!DOCTYPE html>
 <html>
   <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Reversa</title>
  </head>
<body>
 <div id="app">
   {{message}}
   <button v-on:click="reverseMessage">Reverse</button>

 </div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script>
    new Vue({
      el: '#app',
      data: {
        message: 'Hola Mundo',
      },
      methods: {
        reverseMessage: function(){
          this.message = this.message.split('').reverse('').join('')
        }
      },
    })
   </script>
</body>
</html>
