<template>
  <q-page class="flex flex-center">
      <div class="character__container" v-if="character" >
        <div class="character__name">{{ character.name }}</div>
        <div class="character__id">  {{ character.id }}  </div>
        <img class="character__image" :src="character.thumbnail.path + '.' + character.thumbnail.extension">
        <div class="character__series" v-if="character.series.items.length > 0">
          <h6>Series</h6>
          <ul v-for="(comic, index) in character.series.items" :key="index">
            <li>{{ comic.name }}</li>
          </ul>
        </div>
        <div class="character__events" v-if="character.events.items.length > 0">
          <h6>Eventos</h6>
          <ul v-for="(event, index) in character.events.items" :key="index">
            <li>{{ event.name }}</li>
          </ul>
        </div>
      </div>
  </q-page>
</template>

<style>
  ul {
    list-style: none;
    text-align: center;
    color: white;
    font-size: 14px;
  }
  .character__container {
    width: 600px;
    text-align: center;
    padding: 8px;
  }
  h6 {
    font-size: 16px;
    color: aliceblue;
    text-align: center;
  }
</style>

<script>
import md5 from 'md5'
export default {
  name: 'PageIndex',
  data: () => ({
    publicApiKey: '6c33a666c59269337147776f5e4e8f25',
    privateApiKey: 'ae573d3993256597b3ce40082b87ef97a6462781',
    character: null
  }),
  mounted () {
    const timestamp = new Date().getTime()
    const config = {
      params: {
        hash: md5(timestamp + this.privateApiKey + this.publicApiKey),
        apikey: this.publicApiKey,
        ts: timestamp
      }
    }
    this.$axios.get('https://gateway.marvel.com:443/v1/public/characters/' + this.$route.params.id, config)
      .then((res) => {
        console.log('Respuesta obtenida', res.data.data.results)
        this.character = res.data.data.results[0]
      })
      .catch((error) => {
        console.log('Algo malo pasó', error)
      })
  }
}
</script>
