<template>
  <q-page class="flex flex-center">
    <div class="header">
      <img class="img__header" src="https://66.media.tumblr.com/05fe47099a7bf07a845e0df75151c4ba/tumblr_n4pmx78PeI1s53k2yo1_500.gif" alt="">
      <form @submit.prevent='pedirPersonajes()'>
        <q-input class="input__search" v-model="search" />
        <q-btn class="button" v-on:click="pedirPersonajes()" label="S e a r c h" />
      </form>
    </div>
    <div v-for="(character, index) in characters" :key="index">
      <div class="character__container">
        <div class="character__name">
          <router-link :to='"characters/" + character.id'>{{ character.name }}</router-link>
        </div>
        <div class="character__id">  {{ character.id }}  </div>
        <img class="character__image" :src="character.thumbnail.path + '.' + character.thumbnail.extension">
      </div>
    </div>
  </q-page>
</template>

<style>
  .header {
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
  }
  .img__header {
    width: 100%;
    height: 200px;
  }
  .input__search {
    width: 630px;
    margin: 0 auto;
    display: block;
  }
  .button {
    background-color: #7f0000;
    border: #7f0000;
    color: white;
    padding: 8px;
    width: 100px;
    margin-top: 5px;
  }
  .character__container {
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    background-color: black;
  }
  .character__image {
    width: 200px;
    height: 230px;
  }
  .character__name {
    font-size: 16px;
    color:#7f0000;
    text-shadow: -1px -1px 0 white;
  }
  .character__id {
    color:white;
    font-size: 14px;
  }
</style>

<script>
import md5 from 'md5'
export default {
  name: 'PageIndex',
  data: () => ({
    publicApiKey: '6c33a666c59269337147776f5e4e8f25',
    privateApiKey: 'ae573d3993256597b3ce40082b87ef97a6462781',
    characters: [],
    search: null
  }),
  methods: {
    pedirPersonajes () {
      const timestamp = new Date().getTime()
      const config = {
        params: {
          hash: md5(timestamp + this.privateApiKey + this.publicApiKey),
          apikey: this.publicApiKey,
          ts: timestamp
        }
      }
      if (this.search) {
        config.params.nameStartsWith = this.search
      }
      this.$axios.get('https://gateway.marvel.com:443/v1/public/characters', config)
        .then((res) => {
          console.log('Respuesta obtenida', res.data.data.results)
          this.characters = res.data.data.results
        })
        .catch((error) => {
          console.log('Algo malo pasó', error)
        })
    }
  },
  mounted () {
    this.pedirPersonajes()
  }
}
</script>
