ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 li {
   float: right;
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 10px 20px;
   font-size: 18px;
   text-decoration: none;
   font-family: 'Cinzel', serif;
   font-weight: bold;
 }
 li a:hover{
   color: #744e50;
 }
#encabezado{
  background-image: url('https://cdn.civitatis.com/francia/paris/guia/museo-marmottan-monet.jpg');
  color: white;
  text-align: center;
  height: 373px;
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}
#encabezado h2{
  font-size: 50px;
  padding-top: 40px;
}
#encabezado h4{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-shadow: -10px 5px 0 #744e50;
}
#descripcion{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 60px;
  font-size: 20px;
}
#descripcion h3{
  font-family: 'Cinzel', serif;
}
.artistas{
  width: 100%;
}
.pintores h2{
  font-family: 'Srisakdi', cursive;
  font-weight: bold;
}
.pintores{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
.pintores a{
  width: 100px;
  background-color: #ccadaf;
  color: white;
}
.overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .5s ease;
  z-index: -1;
}
.overlay1.active {
  opacity: 1;
  z-index: 2;
}
.modal1 {
  color: white;
  max-height: calc(100% - 100px);
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 450px;
  transform: translate(-50%, -50%);
  background: #813338;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: .5s ease;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
}
.modal1.active {
  visibility: visible;
  opacity: 1;
}
.textoc{
    padding: 40px 0px;
}
.texto-cuadro{
  text-align: center;
  border: 4px solid #a67073;
  padding: 40px 0px;
}
.texto-cuadro h3{
  font-size: 30px;
  font-family: 'Satisfy', cursive;
}
.acordeon{
  width: 100%;
  margin: auto;
}
.acordeon__titulo{
  cursor: pointer;
  color: white;
  background: #40191c;
  line-height: 2.8;
  padding: 8px;
  font-size: 18px;
  margin: 4px;
  text-align: center;
  font-family: 'Bellefair', serif;
  font-size: 22px;
  letter-spacing: 4px;
}
.acordeon__contenido{
  display: none;
  margin: 0;
  padding: 12px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}
.acordeon__titulo--activo{
  font-weight: bold;
}
