body{
    font-family: 'Open Sans', sans-serif;
}
#encabezado{
  background-image: url('banner.jpeg');
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  width: 1200px;
  height: 450px;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 li {
   float: right;
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 10px 20px;
   font-size: 18px;
   text-decoration: none;
   font-family: 'Nunito Sans', sans-serif;
 }
#encabezado{
  background-image: url('http://blog.oxforddictionaries.com/wp-content/uploads/mountain-names.jpg');
}
#encabezado h2{
  font-size: 50px;
  margin-top: 120px;
}
.boton{
  background-color: transparent;
  border:1px solid white;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 40px;
}
.contenido-txt p{
  color: gray;
}
h5{
  font-weight: bold;
}
.fotos-circular{
  width: 65px;
  height: 65px;
  float: left;
}
