#contenedor{
  margin: 0 auto;
  max-width: 1000px;
}
#encabezado{
  border-bottom: 1px solid gray;
}
.columna-33{
  display: inline-block;
  width: 33%;
  text-align: center;
}
#boton1{
  border: 1px solid gray;
  background: white;
  color: gray;
  text-decoration: none;
  padding: 6px;
  border-radius: 5px;
}
#menu ul{
  text-align: center;
}
#menu ul li{
  display: inline;
  padding: 5px;
  color: gray;
  margin: 0 10px;
}
#descripcion{
  background-color: #2E2E2E;
  display: inline-block;
  padding: 50px;
  width: 800px;
}
#descripcion h1, p{
  color: white;
  text-align: left;
}
#descripcion-fotos{
	display: inline;
}
#descripcion-fotos table, td{
	padding: 10px;
	width: 900px;
}
td p{
	text-align: left;
	color: black;
	font-family: Helvetica;
}
td h4{
	font-family: Helvetica;
	color: blue;
}
#desc1{
	padding-right: 20px;
}
#desc2{
	padding-left: 20px;
}
#pie-pagina{
	  background-color: #d4d1c8;
	  display: inline-block;
	  padding: 50px;
	  width: 90%;
	  height: 50px;
	  margin-top: 50px;
}
#ctexto-titulo{
  border-bottom: 1px solid gray;
  width: 400px;
}
#ctexto-titulo h3{
  text-align: left;
}
.texto p{
  color: black;
  text-align: left;
}
#boton2{
  border: 1px solid blue;
  background: white;
  color: blue;
  text-decoration: none;
  padding: 7px;
  border-radius: 8px;
}
#boton3{
  border: 1px solid gray;
  background: white;
  color: gray;
  text-decoration: none;
  padding: 7px;
  border-radius: 8px;
}
.thum{
  width: 150px;
  height: 150px;
  float: right;
  background-color: gray;
  color: white;
  text-align: center;
}
#txt-derecha{
  float: right;
  margin-left: 90px;
  margin-top: -40px;
  height: 2400px;
}
#cuadro{
  padding: 5px;
  width: 300px;
  float: right;
  color: black;
  margin-bottom: 15px;
}
.listas{
  color: blue;
  margin:0;
  padding:0;
}
#pie-pagina{
  text-align: center;
}
