ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #20b2aa;
 }

 li {
   float: right;
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   font-size: 18px;
   text-decoration: none;
   font-family: 'Nunito Sans', sans-serif;
 }
 #encabezado{
   padding-bottom: 10px;
   background-image: url('https://farm5.staticflickr.com/4772/25834230797_3ed344ee9b_b.jpg');
 }
#encabezado h1{
  color: black;
  word-break: normal;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
}
#encabezado p{
  color: black;
  word-break: normal;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
}
.btns{
  border-color: gray;
  color: gray;
  padding: 10px;
  background-color: white;
}
#txt-cel h1, p{
  text-align: left;
}
.texto2 h4{
  color: white;
  text-align: center;
}
.texto2 span{
  color: white;
  text-align: center;
}
.texto2 p{
  color: white;
  text-align: center;
}
#text3 p{
  text-align: center;
  color: gray;
}
#text3 h6{
  color: black;
  text-align: center;
}
#txt4{
  text-align: center;
  background-color: #20b2aa;
  padding: 50px;
}
#txt4 p{
  text-align: center;
}
#txt-cel{
	height: 400px;
  margin-bottom: 50px;
}
#txt-cel p{
	color: black;
	text-align: left;
}
span{
  font-size: 20px;
}
