ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #9a4340;
 }

 li {
   float: right;
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   font-size: 18px;
   text-decoration: none;
   font-family: 'Nunito Sans', sans-serif;
 }
 img{
   width:300px;
   height:300px;
   border-radius: 150px;
 }
 .inicio-desc{
   font-family: 'Poiret One', cursive;
   font-size: 30px;
 }
 #info-corta{
   padding: 30px;
 }
 h1{
   font-family: 'Hammersmith One', sans-serif;
   color: white;
   text-align: center;
 }
 .descripcion{
     font-family: 'Nunito Sans', sans-serif;
     color: white;
     text-align: center;
 }
 #descripcion{
   width: 100%;
   background-color: #9a4340;
   margin: 0px;
   padding: 0px;
 }
 #descque h1{
   color: #cd8162;
 }
.desExp{
  text-align: center;
}
#descque table, td{
  padding: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.actv{
  width:320px;
  height:300px;
  border-radius: 0px;
  vertical-align: baseline;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.icono{
  width: 50px;
  height: 50px;
  vertical-align: baseline;
	display: block;
	margin-left: auto;
	margin-right: auto;
  white-space: normal;
  padding: 5px;
}
#descdonde{
  border-bottom: 1px solid #5c2626;
  width: 400px;
  vertical-align: baseline;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
