h1{
  text-align: center;
}
#contenedor{
  padding: 10px;
}
#resultado{
  padding: 20px;
  color: white;
  width: 22%;
  background-color: #1f80c9;
  border-radius: 10px;
  border-color: #1f80c9;
  font-weight: bold;
  text-align: center;
}
.numeros{
  background-color: black;
  padding: 30px;
  color: white;
  margin: 5px;
  border-radius: 10px;
  border-color: black;
  font-weight: bold;
}
.signos{
  padding: 30px;
  margin: 5px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
#suma{
  background-color: #f0992d;
  border-color: #f0992d;
}
#menos{
  background-color: #63a884;
  border-color: #63a884;
}
#por{
  background-color: #e5b895;
  border-color: #e5b895;
}
#entre{
  background-color: #9ea4b5;
  border-color: #9ea4b5;
}
#igual{
  background-color: #cdd873;
  border-color: #cdd873;
}
#borrar{
  background-color: #ce2f2f;
  border-color: #ce2f2f;
}
