body{
  background-image: url('http://retecsa.com.ni/wp-content/uploads/2017/04/fondoazul6.jpg');
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 li {
   float: right;
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   font-size: 18px;
   text-decoration: none;
   font-family: 'Nunito Sans', sans-serif;
 }
 #contenido{
   margin: 0 auto;
   padding: 0 auto;
   margin-left: 100px;
 }
 #contenido h1{
    color: white;
    margin-top: 40px;
 }
 #contenido p{
   color: white;
   margin-top: 15px;
 }
#form{
  text-align: center;
  background-color: white;
  padding: 100px;
}
#form1 input{
  width: 360px;
  padding: 18px;
}
#form p{
    color: gray;
    padding-top: 12px;
}
#form h4{
  font-size: 24px;
  padding-bottom: 10px;
}
#btn1{
  background-color: #99abb6;
  border-color: #99abb6;
  color: white;
  width: 200px;
  height: 50px;
}
#btn2{
  background-color: #99abb6;
  border-color: #99abb6;
}
