body{
  background-image: url('http://wcsg.org/wp-content/uploads/2018/12/mountain-verse.jpg');
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 li {
   float: right;
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   font-size: 18px;
   text-decoration: none;
   font-family: 'Nunito Sans', sans-serif;
 }
 #contenido{
   margin: 0 auto;
   padding: 0 auto;
 }
 #contenido p{
   color: white;
   font-family: 'Allerta', sans-serif;
   text-align: left;
 }
 #contenido h1{
   color: white;
   font-weight: bold;
   font-family: 'Allerta', sans-serif;
   text-align: left;
 }
#form{
  text-align: center;
  background-color: black;
  color: white;
  width: 400px;
  padding: 40px;
}
#form1 input{
  width: 300px;
}
textarea{
  width: 300px;
}
#btn1{
  background-color: #cc5c5c;
  border-color: #cc5c5c;
  color: white;
}
.btn2{
  width: 100px;
  background-color: #cc5c5c;
  border-color: #cc5c5c;
  color: white;
}
